In [2]:
import pandas as pd 
import numpy as np
import seaborn as sb
from sklearn import datasets

In [4]:
df=pd.read_excel('homeprices-1.xlsx')

In [5]:
df.head()

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         2   18  610000
3  3600         3   30  595000
4  4000         5    8  760000

In [10]:
df.describe()

              area  bedrooms        age          price
count     6.000000  6.000000   6.000000       6.000000
mean   3416.666667  3.833333  16.500000  648333.333333
std     587.934237  1.471960   8.288546  109117.673484
min    2600.000000  2.000000   8.000000  550000.000000
25%    3050.000000  3.000000   9.750000  572500.000000
50%    3400.000000  3.500000  16.500000  602500.000000
75%    3900.000000  4.750000  19.500000  722500.000000
max    4100.000000  6.000000  30.000000  810000.000000

In [12]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of     area  bedrooms    age  price
0  False     False  False  False
1  False     False  False  False
2  False     False  False  False
3  False     False  False  False
4  False     False  False  False
5  False     False  False  False>

In [6]:
from sklearn.model_selection import train_test_split
X=df.drop('price',axis=1)
y=df['price']
train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=0.3,random_state=20)

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
reg=LinearRegression()
reg=reg.fit(train_X,train_y)
y_pred=reg.predict(test_X)
accuracy=r2_score(test_y,y_pred)
print(100*accuracy)

72.42055993737296